:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Variables */
$header-height: 98px;
$negative-margin: -24px;
$padding-value: 24px;
$grid-row-height: 45px;

$color-primary: #052950;
$color-secondary: #0985c7;

/* Header */
mat-toolbar {
  height: $header-height;
  background: rgb(5, 41, 80);
  background: linear-gradient(
    90deg,
    rgba(5, 41, 80, 1) 30%,
    rgba(9, 75, 104, 1) 80%,
    rgba(16, 126, 138, 1) 100%
  );
  padding: 0 $padding-value;
}

.header-row {
  margin-top: $negative-margin;
}

.momentum-logo {
  margin-right: 24px;
}

.momentum-text {
  height: 20px;
  width: 150px;
}

.profile-logo {
  cursor: pointer;
  filter: invert(98%) sepia(99%) saturate(2%) hue-rotate(262deg)
    brightness(110%) contrast(100%);
}

.spacer {
  flex: 1 1 auto;
}

.main-content {
  height: calc(100% - $header-height - $negative-margin);
  padding: 0 3%;
}

/* Side Bar */
mat-sidenav-container {
  height: 100%;
  margin-top: $negative-margin;
  background-color: transparent;
}

mat-sidenav {
  width: 70px;
  background-color: $color-primary;
  border: 2px solid;
  border-color: white;
}

.sidenav-collapse ::ng-deep .mat-list-item-content {
  justify-content: end;
  background-color: $color-primary !important;
}

.sidenav-text {
  width: 100%;
  color: white;
  margin-left: 18px;
}

.sidenav-content {
  height: calc(100% - (2 * $padding-value) - $grid-row-height);
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-left: 12px;
  padding: 24px;
}

/* Icon Styles */
mat-icon {
  color: white;
  cursor: pointer;
}

.mat-item-select,
.mat-item-background:hover {
  background: rgb(9, 75, 104);
  background: linear-gradient(
    90deg,
    rgba(9, 75, 104, 1) 20%,
    rgba(16, 126, 138, 1) 100%
  );
}

::ng-deep .mat-list-item-content {
  justify-content: center;
}

/* Side Bar Content */
.formfield-style {
  width: 220px;
  height: 55px;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: $color-secondary !important;
}

::ng-deep .mat-form-field-ripple {
  background-color: $color-secondary !important;
}

::ng-deep .ng-dropdown-panel {
  margin-top: 1.25em;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  display: flex !important;
  border-bottom: 1px solid #cccccc !important;
}

::ng-deep
  .ng-dropdown-panel
  .ng-dropdown-panel-items
  .ng-option.ng-option-selected {
  background-color: #eeeeee !important;
  color: rgba(0, 0, 0, 0.87);
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items {
  max-height: 210px !important;
}

::ng-deep .ng-select .ng-clear-wrapper {
  color: black;
  margin-right: 10px;
}

::ng-deep .ng-select-container {
  padding: 0px 10px 0px 10px;
}

::ng-deep
  .ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value {
  background-color: $color-secondary !important;
  padding-right: 10px;
}

::ng-deep
  .ng-select.ng-select-multiple
  .ng-select-container.ng-has-value
  .ng-value-container {
  padding-top: 0.5em;
}

::ng-deep .ng-placeholder {
  color: rgba(0, 0, 0, 0.6) !important;
}

::ng-deep .ng-select.ng-select-focused {
  background-color: white !important;
  .ng-placeholder {
    color: $color-secondary !important;
  }
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: $color-primary !important;
}

.checkbox-autocomplete {
  margin-right: 10px;
}

.btn-datepicker-apply {
  color: white;
  background: $color-secondary;
}

.grid-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.div-actions {
  display: flex;
}

.btn-action {
  height: 40px;
  width: 136px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  color: white;
  background-color: $color-secondary;
  border-radius: 2px;
  margin: 0 0 0 24px;
  padding-left: 26px;
  padding-right: 26px;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: red !important;
}

.autocomplete-style {
  background-color: rgba(0, 0, 0, 0.04);
  margin: 20px 0px 0px 0px;
  padding-bottom: 0px;
}

/* Panels */
mat-expansion-panel {
  margin-top: 12px;
  background-color: $color-primary;
}

.mat-accordion > .mat-expansion-panel-spacing:first-child {
  margin-top: 12px;
}

mat-expansion-panel-header {
  height: $grid-row-height;
}

mat-expansion-panel-header.mat-expanded {
  height: $grid-row-height;
}

::ng-deep .mat-expansion-panel-body {
  background-color: white;
  padding: 0 !important;
}

::ng-deep .mat-expansion-panel {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.mat-accordion .mat-expansion-panel:not(.mat-expanded),
.mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing) {
  border-radius: 4px 4px 0 0;
}

mat-panel-title {
  color: white;
}

::ng-deep .mat-expansion-indicator:after {
  color: white;
}

// ag-grid-angular {
//   height: 400px;
// }
