<!-- Toolbar -->
<mat-toolbar>
  <img class="header-row momentum-logo" src="assets/Momentum-logo.svg" />
  <img class="header-row momentum-text" src="assets/Momentum-text.svg" />

  <span class="spacer"></span>

  <img
    class="header-row profile-logo"
    src="assets/account_circle-black-24dp.svg"
  />
</mat-toolbar>
<div class="main-content">
  <mat-sidenav-container autosize="true">
    <mat-sidenav
      #sidenav
      mode="side"
      opened="true"
      [style.width]="isExpanded ? '271px' : '70px'"
    >
      <mat-nav-list [disableRipple]="true">
        <mat-list-item class="sidenav-collapse">
          <img
            *ngIf="!isExpanded"
            src="assets/navigate_next_white_36dp.svg"
            (click)="expandSideBar()"
          />
          <img
            *ngIf="isExpanded"
            src="assets/chevron_left_white_36dp.svg"
            (click)="expandSideBar()"
          />
        </mat-list-item>
        <mat-list-item
          class="mat-item-background"
          [ngClass]="selectedItem === 'dashboard' ? 'mat-item-select' : ''"
          (click)="onSelect('dashboard')"
        >
          <img src="assets/dashboard_icon-white-24px.svg" />
          <span class="sidenav-text" *ngIf="isExpanded"> Dashboard </span>
        </mat-list-item>
        <mat-list-item
          class="mat-item-background"
          [ngClass]="selectedItem === 'fund' ? 'mat-item-select' : ''"
          (click)="onSelect('fund')"
        >
          <img src="assets/Fund_CCY_Date_icon-white-24dp.svg" />
          <span class="sidenav-text" *ngIf="isExpanded"> Fund </span>
        </mat-list-item>
        <mat-list-item
          class="mat-item-background"
          [ngClass]="selectedItem === 'summary' ? 'mat-item-select' : ''"
          (click)="onSelect('summary')"
        >
          <img src="assets/summary_by_fund-white-24px.svg" />
          <span class="sidenav-text" *ngIf="isExpanded"> Summary By Fund </span>
        </mat-list-item>
        <mat-list-item
          class="mat-item-background"
          [ngClass]="selectedItem === 'view' ? 'mat-item-select' : ''"
          (click)="onSelect('view')"
        >
          <img src="assets/custom_view-white-24dp.svg" />
          <span class="sidenav-text" *ngIf="isExpanded"> Custom View </span>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <div class="sidenav-content">
      <div class="grid-actions">
        <mat-form-field class="formfield-style" appearance="fill">
          <mat-label>Date Range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="From Date" />
            <input matEndDate placeholder="To Date" />
          </mat-date-range-input>

          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancel</button>
              <button
                mat-button
                matDatepickerApply
                class="btn-datepicker-apply"
              >
                <mat-icon>check</mat-icon>
                Apply
              </button>
            </mat-datepicker-actions>
          </mat-date-range-picker>
        </mat-form-field>
        <mat-form-field class="formfield-style" appearance="fill">
          <mat-label>Quick Filter</mat-label>
          <input matInput type="text" [(ngModel)]="filterInput" />
        </mat-form-field>
        <div class="div-actions">
          <button class="btn-action" mat-button>ACTION ONE</button>
          <button class="btn-action" mat-button>ACTION TWO</button>
        </div>
      </div>
      <ng-select
        class="autocomplete-style"
        [items]="fundArray"
        placeholder="Autocomplete Funds Clients"
        [multiple]="true"
        [selectableGroup]="true"
        [closeOnSelect]="false"
        [(ngModel)]="selectedFund"
      >
        <ng-template
          ng-option-tmp
          let-item="item"
          let-item$="item$"
          let-index="index"
        >
          <mat-checkbox
            class="checkbox-autocomplete"
            [disableRipple]="true"
            [ngModel]="item$.selected"
            (click)="(false)"
          ></mat-checkbox>
          {{ item }}
        </ng-template>
      </ng-select>

      <mat-accordion>
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title> Momentum ag-Grid </mat-panel-title>
          </mat-expansion-panel-header>
          <ag-grid-angular
            style="width: 100%; height: 430px"
            class="ag-theme-alpine"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [pivotMode]="false"
            [sideBar]="true"
            [headerHeight]="rowHeight"
            [rowHeight]="rowHeight"
            [quickFilterText]="filterInput"
          >
          </ag-grid-angular>
        </mat-expansion-panel>
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title> Momentum Exceptions </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title> Momentum Ratings </mat-panel-title>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-sidenav-container>
</div>
